.announcments {
  background-color: teal;
  color: white;
  font-style: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcments__wrapper {
  height: 45px;
}
