.categories__wrapper {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: rgb(255, 234, 242);

  @media only screen and (max-width: 720px) {
    flex-direction: column;
  }
}
