@font-face {
  font-family: "Roboto";
  src: url("../public/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/Roboto-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/Roboto-Bold.ttf");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
